.board {
  background: white;
  border-radius: 4px;
  .head {
    padding: 10px;
    h3 {
      font-size: 12px;
      color: white;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &#today {
    .head { background: #5696D4;}
  }
  &#yesterday {
    .head { background: #FCCF26 }
  }
  &#blockers {
    .head { background: #7BCAA5; }
  }
}
